@import "_colors.scss";

&.dark-mode {
    // Search Form
        .search {
            &-field {
                background-color: $darker;
                color: $white;
            }

            &-submit {
                filter: invert(1);
            }
        }
    // .Search Form
}