@import "./mixins";
@import "./colors";

@media screen and (max-width: 1000px) {
    .bg-layer {
        display: none;
    }
    
    // Logo
        .logo {
            width: 100px;
            height: 40px;
            background-size: 90px;
        }
    // .Logo
    
    .main {
        &__content {
            padding-top: 80px;
        }
    }

    // Gutenberg blocks
        .wp-block {
            &-image {
                width: 100%;
                left: 0;
            }
        }
    // .Gutenberg blocks
}
