@import "./mixins";
@import "./colors";

@media screen and (max-width: 1000px) {
    .bg-layer {
        display: none;
    }
    
    // Logo
        .logo {
            width: 100px;
            height: 40px;
            background: url("../assets/images/logo.svg") no-repeat 0 center / 100px;

            svg {
                display: none;
            }
        }

        &.dark-mode {
            .logo {
                background-image: none;

                svg {
                    display: block;
                }
            }
        }
    // .Logo

    // Dark Mode Trigger
        .dark-mode__trigger {
            background-image: url("../assets/images/dark_mode_off_dark.svg");
        }
    // .Dark Mode Trigger
    
    .main {
        &__content {
            padding-top: 80px;
        }
    }

    // Gutenberg blocks
        .wp-block {
            &-image {
                width: 100%;
                left: 0;
            }
        }
    // .Gutenberg blocks
}

@media screen and (max-width: 768px) {
    .section-title {
        font-size: 34px;
    }
}

@media screen and (max-width: 480px) {
    .section-title {
        font-size: 28px;
    }

    // Error Page
        .error-page {
            &__description {
                font-size: 16px;
                margin-top: 20px;
            }
        }
    // .Error Page
}
